.cell{
  border:solid blue 3px;
  float: left;
  width: 100px;
  height: 100%;
  background-color: white;
  border-radius: 100%;
}
.row{
  clear: both;
  height:100px;
}
.main{
  background-color: blue;
  width: 742px;
  height: 630px
}
.nav{
  height: 50px;
  width: 150px;
  border: blue solid 1px;
  margin-bottom: 2px;
}
